<!-- SCRIPTS -->
<script>
  document
    .getElementById("scroll-to-top")
    .addEventListener("click", function () {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth",
      });
    });
</script>

<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js"
  type="text/javascript"></script>
